<!DOCTYPE html>
<html>
    <head>
        <title>Today I</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/6a01d8d805.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <div>
                <h1>TEST</h1>
                <!--Stories Generator-->

                <%function randomInt(min, max){%>
                    <%return min + Math.floor((max - min) * Math.random())%>
                <%}%>

                <%var randomStory = []%>

                <% stories.forEach(function(story){ %>
                    <% randomStory.push(story); %>
                <% }); %>

                <%var randomNumber = randomInt(0, randomStory.length)%>

                
                <div>
                    <blockquote>
                        <div>
                            <div>
                                <h1>❛</h1>
                                <h1><%= randomStory[randomNumber].bodytext %></h1>
                                <h1>❜</h1>
                            </div>
                            <% if(randomStory[randomNumber].name != ""){ %>
                                <h3><%= randomStory[randomNumber].name %></h3>
                            <% } else { %>
                                <h3>Anonymous</h3>
                            <% } %>
                            <% if(randomStory[randomNumber].place != ""){ %>
                                <h4><%= randomStory[randomNumber].place %></h4>
                            <% } else { %>
                                <h5>Somewhere across the world</h5>
                            <% } %>
                            <h5><%= randomStory[randomNumber].date %></h5>
                        </div>
                      </blockquote>
                </div> 

                <!-- <% stories.forEach(function(story){ %>
                    <% if(story.published){ %>
                        <section>
                            <div>
                                <% if(story.name != ""){ %>
                                    <h3><%= story.name %></h3>
                                <% } else { %>
                                    <h3>Anonymous</h3>
                                <% } %>
                                <h1><%= story.bodytext %></h1>
                                <% if(story.place != ""){ %>
                                    <h4><%= story.place %></h4>
                                <% } else { %>
                                    <h5>Somewhere across the world</h5>
                                <% } %>
                                <h5><%= story.date %></h5>
                            </div>
                        </section>
                    <% }; %>
                <% }); %>
            </div> -->
            <!--Form-->
        <div>
            <div>
                <!--Title-->
                <h1>Shed some light across the world.</h1>
                <p>Share something that you did today, no matter how small, that made you feel a little better.</p>
                    <div>
                    <form action="/stories" method="POST">
                        <div>
                            <input type="text" name="name" placeholder="Your name">
                        </div>
                        <div>
                        <p>Today I...<span class="quotes">"</span></p>
                        <textarea name="bodytext" type="text" rows="2" cols="10" maxlength="140" required></textarea><span class="quotes">"</span>
                        <div>
                            <input type="text" name="place" placeholder="Where are you from?">
                        </div>
                        <div>
                            <button>Share!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>