<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <h1>TEST</h1>
        <!--Stories Generator-->
        <% stories.forEach(function(story){ %>
            <% if(story.published){ %>
                <section>
                    <div>
                        <h2><%=story.name%></h2>
                        <p><%=story.bodytext%></p>
                        <h3><%=story.place%></h3>
                        <h3><%=story.date%></h3>
                    </div>
                </section>
            <% }; %>
        <% }); %>
    </div>
    <!--Form-->
<div class="container">
    <div class="row" style="text-align: center;">
        <!--Title-->
        <h1 class="col-lg-12" style="width: 100%; margin: 30px auto">New Story</h1>
            <div style="width: 30%; margin: 0 auto">
            <form class="col-lg-12" action="/stories" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <textarea name="bodytext" type="text" rows="10" cols="50">Story</textarea>
                <div class="form-group">
                    <input class="form-control" type="text" name="place" placeholder="place">
                </div>
                <!-- <div class="form-group">
                    <input class="form-control" type="text" name="date" placeholder="date">
                </div> -->
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Publish!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>