<%- include("../partials/header") %>
<div class="recipes d-lg-flex">
    <div class="container col-sm-12 col-md-12 col-lg-4">
        <div class="row justify-content-center">
            <div class="card col-sm-12 col-lg-9 border-0">
                <div class="img-responsive">
                    <img class="card-img-top" src="<%= post.image %>">
                    <div class="caption">
                        <h4><%= post.name %></h4>
                        <p><%= post.description %></p>
                        <% if(currentUser && post.author.id.equals(currentUser._id)){ %>
                            <a href="/stories/new" class="btn btn-sm btn-primary">Nueva Historia</a>
                            <a class="btn btn-sm btn-warning" href="/posts/<%= post._id %>/edit">Editar Categoría</a>
                            <!-- <form id="form-delete" class="form-inline" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                                <button class="form-control btn btn-sm btn-danger">Eliminar Categoría</button>
                            </form> -->
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-sm-12 col-md-12 col-lg-8">
        <!-- Generador de historias -->
        <% var aStory = {}; %>
        <% function populateStories(aStory) { %>
            <div class="card mb-3">
                <a href="/stories/<%= aStory._id %>" class="btn btn-outline-success btn-sm">
                    <div class="row no-gutters">
                    <div class="col-sm-4">
                        <img src="<%= aStory.image %>" class="card-img" alt="<%= aStory.image %>">
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                        <h5 class="card-title"><%= aStory.name %></h5>
                        <p class="card-text"><%= aStory.description %></p>
                        <p class="card-text"><em><%= aStory.origAuthor %></em></p>
                        </div>
                    </div>
                    </div>
                </a>
            </div>
        <% } %>
        <!-- Generar recetas segun categoria -->
        <h1 class="lead">Historias</h1>
        <% story.forEach(function(aStory){ %>
            <% if(post._id.equals("6081b91c14bc1e00157b4679")){ %>
                <% if(aStory.category === "Sci-Fi"){ %>
                    <%= populateStories(aStory) %>
                <% }; %>
            <% }; %>
            <% if(post._id.equals("5e9f85b06eec2e3a1041b1bc")){ %>
                <% if(aStory.category === "Terror"){ %>
                    <%= populateStories(aStory) %>
                <% }; %>
            <% }; %>
            <% if(post._id.equals("5e9f864d6eec2e3a1041b1bd")){ %>
                <% if(aStory.category === "Aventuras"){ %>
                    <%= populateStories(aStory) %>
                <% }; %>
            <% }; %>
        <% }); %>
    </div>
</div> 
<%- include("../partials/footer") %>